<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error- <%- status%></title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="error">
        <h1>Error</h1>
        <h2>message：</h2>
        <p>
            <% message %>
        </p>
        <%- if(env === 'development') { %>
            <h2>origin error:</h2>
            <p>
                <% err %>
            </p>
            <h2>stack:</h2>
            <p>
                <% stack %>
            </p>
        <% } %>    
    </div> 
</body>
</html>